.container-fluid{
    padding: 4% 3% 3% 3%;
}
/* Navigation bar section */
.navbar{
    padding: 0 1rem 4.5rem;
}
.navbar-brand{
    font-family: "Ysabeau";
    font-weight: 800;
    font-size: 10rem;
    padding: 3%;
}
.nav-item{
    font-family: "Ysabeau";
    font-weight: 300;
}

/* Main heading section */
#heading{
    text-align: center;
    font-family: "Ysabeau";
    margin: 1% 23% 0% 23%;
}
.main-heading{
    font-weight: 800;
    color: #212A3E;
}
.companyintro{
    font-weight: 300;
    color: #474E68;
    line-height: 2rem;
}

/* Highlight section */
#highlight{
    text-align: center;
}
.highlight-product{
    width: 30%;
    height: 40%;
}

/* Introduction section */
.introbox{
    margin: 1% 0% 0% 0%;
    font-family: "Tajawal";
    text-align: center;
}
.intro-heading{
    font-weight: 800;
    color: #3C486B;
}
.intro{
    font-weight: 300;
    line-height: 2rem;
    font-size: 17px;
    color: #394867;
}

/* Products */
#products{
    padding: 1%;
    font-family: "Tajawal";
    background-color: #F8F6F4;
}
.category{
    font-weight: 500;
    padding: 0% 0% 0% 2%;
    font-style:italic;
    color: #50577A;
}
.sectiontitle{
    background-color: #F8F6F4;
    padding: 2%;
    text-align: center;
}
.productstitle{
    text-align: center;
    font-weight: 800;
}
.productsdisplay{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.productsection2{
    padding: 5%;
}
.productsection3{
    padding: 1% 3% 0%;
}
.productsection4{
    padding: 3%;
}

#footer{
    padding: 1% 1%;
    font-size: 12px;
    line-height: 1.5rem;
}